@import '../utils/animation';

.banner {
    /*retrait de l'image theme parent*/
    background-image: none;
    display: block;
    min-height: initial;
    position: relative;
    padding-bottom: 56%;
    height: 0;
    & > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    video,
    .banner__img-mobile {
        /* ANIMATION VIDEO */
        animation-name: banner;
        animation-duration: 2s;
    }

    img {
        margin-top: 0;
        width: auto;
    }

    &__img-mobile {
        display: none;
    }
}

#banner__title {
    margin-top: -10%;
    width: 50%;
    // position: fixed;
    position: absolute;
    top: 35%;
    z-index: 99;
    &.fixed{
        position: fixed;
        top: 50%;
    }
    &.floating{
        animation: logo 1500ms, floating-rotate 3500ms ease-in-out 1500ms infinite;
    }
}

/****************************************************************************************************
                                    BREAKPOINTS
******************************************************************************************************/

@media screen and (max-width: 425px) {
    video {
      display: none;
    }
  
    .banner__img-mobile {
      display: block;
    }
}
