#oscars {
    position: relative;
    padding-top: 10em;
    overflow-x: hidden;
    &::before {
        content: url(/wp-content/themes/foce-child/assets/images/Sunflower.png);
        position: absolute;
        left: 9em;
        top: 4em;
    }

    &::after {
        content: url(/wp-content/themes/foce-child/assets/images/orchid.png);
        position: absolute;
        right: -7em;
        bottom: 20em;
    }

    & .oscars_wrapper {
        display: flex;
        justify-content: space-between;
        width: 77.66%;
        margin: auto;

        & img {
            mix-blend-mode: darken;
            height: 50%;
            padding: 3em 0;
        }

        & .oscars_div {
            background-image: url(/wp-content/themes/foce-child/assets/images/Rectangle\ 23.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        & .oscars_div_text {
            text-align: start;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            padding: 2em;
        }
    }
}

/****************************************************************************************************
                                    BREAKPOINTS
******************************************************************************************************/
@media screen and (max-width: 1300px) {
    .oscars_div_text {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .oscars_div_text {
        font-size: 2rem;
    }
}

@media screen and (max-width: 992px) {

    #oscars::before,
    #oscars::after {
        content: none;
    }

    #oscars {
        position: relative;
        padding-top: 5em;

        div {
            flex-direction: column;
            align-items: center;
            width: 85%;
        }
    }
}

@media screen and (max-width: 768px) {
    .oscars_div_text {
        font-size: 1.3rem;
    }

    #oscars .oscars_wrapper img {
        padding: 0;
    }
}

@media screen and (max-width: 425px) {
    #oscars {
        padding-top: 2em;
    }

    .oscars_div_text {
        font-size: 1rem;
    }

    #oscars .oscars_wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    #oscars {
        padding-top: 0.5em;
    }
}