@import '../utils/animation';

.story #place {
    overflow: hidden;
    background-image: url(./assets/images/Background_place.png);
    position: relative;
    /* DIV TEXTE sf div bg */
    &>div {
        position: absolute;
        top: 13em;
        left: 2em;
        /* FOND orange TITRE */
        & .place_div {
            background-image: url(./assets/images/orange_place_bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 160px;
            z-index: 99;
            & div {
                overflow: hidden;
                height: 62%;
                /* TITRE "LIEU" */
                & .place_div_title{
                    background: none;
                    margin-bottom: 15px;
                    z-index: 2;
                    transform: translateY(50%);
                    &.active{
                        animation: appear-title 1s both;
                    }
                }
            }
        }
    }
    
    /* NUAGES */
    & .place_cloud {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        /* floutage nuage */
        filter: blur(1rem);
    }

    &.active .place_cloud {
        /* Animation des nuages */
        animation-name: shift-cloud;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-fill-mode: both;
        /* Déplacement et arret en meme temps que le scroll*/
        // animation-iteration-count: infinite;
        // animation-play-state: paused;
        // animation-delay: calc(var(--scroll) * -1s);
        // animation-iteration-count: 1;
    }

    /* PETIT NUAGE */
    & div .place_little-cloud {
        background-image: url(./assets/images/little_cloud.png);
        width: 142px;
        height: 55px;
        top: 4em;
        left: 51em;
    }

    /* GROS NUAGE */
    & div .place_big-cloud {
        background-image: url(./assets/images/big_cloud.png);
        width: 316px;
        height: 122px;
        top: -8em;
        left: 66em;
    }
}

/***********************************************************************************************
                                    BREAKPOINTS
***********************************************************************************************/
@media (max-width: 1192px) {
    .story #place div .place_div {
        height: 135px;
        & div {
            overflow: hidden;
            height: 62%;
            /* TITRE "LIEU" */
            // & .place_div_title{
            // }
        }
    }
}

@media (max-width: 920px) {
    .story #place div .place_cloud {
        background: none;
    }
}
@media (max-width: 425px){
    
    .story #place > div p {
        padding-left: 2em;
    }
}

@media (max-width: 332px){
    
    .story #place div .place_div {
        height: 107px;
    }
    .story #place h3 {
        font-size: 2rem;
    }
}
